<div class="white-box sixtywidth">
  <br>

  <%= form_for @user, url: sessions_path, method: :post, html: {class: 'form'} do |f| %>
    <h2>Login</h2>
    <br/>
    <%= f.label :username %>
    <br>
    <%= f.text_field :username %>
    <br><br>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
    <br><br>
    <hr/>
    <br/>
    <%= f.submit "Login", class: 'green-button' %>

  <% end %>

</div>