<div class="white-box sixtywidth">
  <br>

  <h2>Login</h2>

  <%= form_for User.new, url: sessions_path do |f| %>

    <%= f.label :username %>
    <br>
    <%= f.text_field :username %>
    <br><br>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
    <br><br>

    <%= f.submit "Login", class: 'green-button' %>

  <% end %>

</div>