<h1 class="centered-text">Search</h1>
<hr/>

<%= form_tag('/search', method: :get, class: "search-form") do %>
  <%= text_field_tag :search %>
  <%= submit_tag "SEARCH" %>
<% end %>

<% if @results != nil %>

  <% @results.each do |rant| %>
    <div class="my-rants">
      <div class="one-rant">
        <div class="user-info">
          <ul>
            <li><%= link_to rant.user.username, user_path(id: rant.user.id), class: "link-no-dec" %></li>
            <li>
              <%= image_tag(rant.user.avatar.url, class: "user-pic") %>
            </li>
            <li><%= follow_link(rant) %></li>
          </ul>
        </div>
        <div class="rant">
          <h4 class="centered-text"><%= rant.subject %></h4>

          <p><%= link_to rant.rant, rant_path(id: rant.id), class: "link-no-dec" %></p>
          <%= favorite_link(rant) %>
        </div>
        <hr width="60%">
      </div>
    </div>

  <% end %>

<% end %>