<h1><%= @user.username %></h1>
<% if @following_check == nil %>
  <%= link_to "Follow", new_follower_path(ranter_id: @user.id, ranter_name: @user.username), class: "link-on-right" %>
<% else %>
  <%= link_to "Unfollow", follower_path(id: @user.id), method: :delete, class: "link-on-right"   %>
<% end %>


<hr width="95%">
<p><%= @user.bio %></p>

<br/><br/><br/>
<% @user.sorted_rants.each do |rant| %>
  <h3><%= rant.subject %></h3>
  <p><%= rant.rant %></p>
  <%= favorite_link(rant) %>
<% end %>