<% unless @mentioned_rants == [] %>
  <h2>Mentioned</h2>
  <div class="my-rants">
    <% @mentioned_rants.each do |rant| %>
      <%= render partial: "rants/rant", locals: {rant: rant} %>
    <% end %>
  </div>
<% end %>


<h2>Latest Rants</h2>
<% if @other_rants != nil %>
  <div class="my-rants">
    <% @other_rants.each do |rant| %>
      <%= render partial: "rants/rant", locals: {rant: rant} %>
    <% end %>
  </div>
<% end %>

<hr>

<h2>My Rants</h2>

<% if @my_rants != nil %>

  <div class="my-rants">
    <% @my_rants.each do |rant| %>
      <div class="user-info">
        <ul>
          <li><%= link_to rant.user.username, user_path(id: rant.user.id), class: "link-no-dec" %></li>
          <li>
            <%= image_tag(rant.user.avatar.url, class: "user-pic") %>
          </li>
        </ul>
      </div>
      <div class="rant">
        <h4 class="centered-text"><%= rant.subject %></h4>

        <p><%= link_to markdown(rant.truncated_rant), rant_path(id: rant.id), class: "link-no-dec" %></p>
        <%= link_to "Delete", rant_path(id: rant.id), method: :delete, class: 'float-right' %>
      </div>
      <hr width="60%">

    <% end %>
  </div>

<% end %>
