<h1><%= @rant.subject %></h1>
<%= favorite_link(@rant) %>
<hr width="95%"/>
<div class="show-rant">
  <%= image_tag(@rant.user.avatar.url, class: "user-pic-show float-left") %>
  <%= link_to "by #{@rant.user.username}", user_path(id: @rant.user.id), class: "link-no-dec" %>
  <%#= link_to "Tweet", "https://twitter.com/share", class: "twitter-share-button tweet-link"  %>
  <a href="https://twitter.com/share" class="twitter-share-button tweet-link" data-text="<%= @rant.subject %>">Tweet</a>
  <br/>

  <p><%= @rant.rant %></p>
</div>
<br/>
<hr width="60%"/>

<% unless @rant.comments == nil %>
  <% @rant.comments.each do |comment| %>
    <div class="my-rants">
      <div class="one-rant">
        <div class="user-info">
          <ul>
            <li><%= link_to comment.commenter.username, user_path(comment.commenter), class: "link-no-dec" %></li>
            <li>
              <%= image_tag(comment.commenter.avatar.url, class: "user-pic-small") %>
            </li>
          </ul>
        </div>
        <div class="rant">
          <p class="centered-text"><%= comment.body %></p>
        </div>
      </div>
      <hr width="60%">
    </div>

  <% end %>
<% end %>

<%= form_for @comment, html: {class: 'comment-form'} do |f|  %>
  <%= f.text_area :body, placeholder: "Enter your comments here..." %>
  <%= f.hidden_field :commenter_id, value: current_user.id %>
  <%= f.hidden_field :rant_id, value: @rant.id %>
  <%= f.submit "RANT BACK", id: 'small-green-button' %>
<% end %>